{% extends 'portal.html'%}

{% block title %}Play the "Trust Triangle"{% endblock %}

{% block worth1 %}You can think of tokens as representing help or favors between friends. Tokens can be anything really, the point is that you are trying to get as many of them as you can. In 
this game it is possible to earn up to 60 tokens per turn.{% endblock %}

{% block worker %}Each shape represents a participant.{% endblock %}

{% block worth2 %}{% endblock %}

{% block worth3 %}{% endblock %}

{% block consent %}{% endblock %}

{% block next-loc %}'../instructions'{% endblock %}
