{% extends 'portal.html'%}

{% block title %}A 3-person Iterated "Trust" or "Investment" Game{% endblock %}

{% block worth1 %}These exchanges follow the Investment Game, where the first player is given the opportunity to transfer part of his endowment to the second player, which gets multiplied. The 
second player then has the chance to return part of the transfer. In this experiment, however, the Investment Game is Iterated, and there are two "returnees" that can receive a transfer. To 
provide an incentive to maximize tokens, Professor Becker is offering extra-credit for each token earned.{% endblock %}

{% block worker %}
Each shape represents a participant.
{% endblock %}

{% block worth2 %}{% endblock %}

{% block worth3 %}{% endblock %}

{% block next-loc %}'../instructions'{% endblock %}
